{% load static i18n %}
{% comment %}C3 mikro inline-stil lab_modals.css-ə, inline skript lab_modals.js-ə köçürüldü.{% endcomment %}

<div id="labModalsConfig" hidden
     data-course-id="{{ course.id }}"
     data-i18n-modal-not-found="{% trans 'modal_not_found' context 'labs.js.lab_modals' %}"
     data-i18n-loading="{% trans 'loading' context 'labs.js.lab_modals' %}"
     data-i18n-error-data-not-loaded="{% trans 'error_data_not_loaded' context 'labs.js.lab_modals' %}"
     data-i18n-error-unknown="{% trans 'error_unknown' context 'labs.js.lab_modals' %}"
     data-i18n-error-generic="{% trans 'error_generic' context 'labs.js.lab_modals' %}"
     data-i18n-confirm-delete-lab="{% trans 'confirm_delete_lab' context 'labs.js.lab_modals' %}"
     data-i18n-error-prefix="{% trans 'error_prefix' context 'labs.js.lab_modals' %}"
     data-i18n-error-server="{% trans 'error_server' context 'labs.js.lab_modals' %}"
     data-i18n-no-groups="{% trans 'no_groups' context 'labs.js.lab_modals' %}"
     data-i18n-select-group-first="{% trans 'select_group_first' context 'labs.js.lab_modals' %}"
     data-i18n-no-students="{% trans 'no_students' context 'labs.js.lab_modals' %}"
     data-i18n-existing-file="{% trans 'existing_file' context 'labs.js.lab_modals' %}"
     data-i18n-button-create="{% trans 'button_create' context 'labs.js.lab_modals' %}"
     data-i18n-button-save="{% trans 'button_save' context 'labs.js.lab_modals' %}"
     data-i18n-state-error="{% trans 'state_error' context 'labs.js.lab_modals' %}"></div>

<script src="{% static 'labs/js/utils/escape.js' %}"></script>
<script src="{% static 'labs/js/lab_modals.js' %}"></script>
