{% load i18n %}
<aside class="sidebar">
  <div class="widget">
      <h3>{% trans "categories" context "blog.partial.sidebar" %}</h3>
      <ul class="category-list">
          {% for category in categories %}
              <li>
                  <a href="{% url 'category_detail' category.slug %}">
                      {{ category.name }}
                      <span class="category-count">({{ category.post_count }})</span>
                  </a>
              </li>
          {% empty %}
              <li><a href="#">{% trans "empty_categories" context "blog.partial.sidebar" %}</a></li>
          {% endfor %}
      </ul>
  </div>

  <div class="widget">
      <h3>{% trans "popular_tags" context "blog.partial.sidebar" %}</h3>
      <div class="tags-container">
          <span class="tag-item">Javascript</span>
          <span class="tag-item">CSS</span>
          <span class="tag-item">Python</span>
          <span class="tag-item">Django</span>
          <span class="tag-item">Front-end</span>
          <span class="tag-item">AI</span>
      </div>
  </div>
</aside>
