.git
.github
.gitignore

.env
.env.*
*.sqlite3
db.sqlite3

venv/
.venv/
env/
node_modules/

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

playwright-report/
test-results/
media/
staticfiles/
docker/nginx/certs/

.DS_Store
