{% load i18n %}{% comment %}Aparıcı (host) ekranlarının JS mətnləri — host_presentation.html və host_lobby.html
eyni blok işlədir (2026-09-29 LX-FE-STAGE). Açar = JS açarı; dəyər = kontekstli trans. Tərcümə hələ
kompilyasiya olunmayıbsa JS (utils.tr) Azərbaycan dilində ehtiyat mətni göstərir.{% endcomment %}
<script id="hostI18n" type="application/json">{
    "debugLabel": "{% filter escapejs %}{% trans 'debug_label' context 'live_exam.host_lobby.js' %}{% endfilter %}",
    "stateLobby": "{% filter escapejs %}{% trans 'state_lobby' context 'live_exam.host_lobby.js' %}{% endfilter %}",
    "stateQuestion": "{% filter escapejs %}{% trans 'state_question' context 'live_exam.host_lobby.js' %}{% endfilter %}",
    "stateReveal": "{% filter escapejs %}{% trans 'state_reveal' context 'live_exam.host_lobby.js' %}{% endfilter %}",
    "stateFinished": "{% filter escapejs %}{% trans 'state_finished' context 'live_exam.host_lobby.js' %}{% endfilter %}",
    "stateLog": "{% filter escapejs %}{% trans 'state_log' context 'live_exam.host_lobby.js' %}{% endfilter %}",
    "questionMeta": "{% filter escapejs %}{% trans 'question_meta' context 'live_exam.host_lobby.js' %}{% endfilter %}",
    "noAnswersYet": "{% filter escapejs %}{% trans 'no_answers_yet' context 'live_exam.host_lobby.js' %}{% endfilter %}",
    "pointsSuffix": "{% filter escapejs %}{% trans 'points_suffix' context 'live_exam.host_lobby.js' %}{% endfilter %}",
    "hostReady": "{% filter escapejs %}{% trans 'host_ready' context 'live_exam.host_lobby.js' %}{% endfilter %}",
    "wsLobbyOpen": "{% filter escapejs %}{% trans 'ws_lobby_open' context 'live_exam.host_lobby.js' %}{% endfilter %}",
    "wsLobbyClosed": "{% filter escapejs %}{% trans 'ws_lobby_closed' context 'live_exam.host_lobby.js' %}{% endfilter %}",
    "wsPlayOpen": "{% filter escapejs %}{% trans 'ws_play_open' context 'live_exam.host_lobby.js' %}{% endfilter %}",
    "wsPlayClosed": "{% filter escapejs %}{% trans 'ws_play_closed' context 'live_exam.host_lobby.js' %}{% endfilter %}",
    "allAnsweredAutoReveal": "{% filter escapejs %}{% trans 'all_answered_auto_reveal' context 'live_exam.host_lobby.js' %}{% endfilter %}",
    "lobbyMessageError": "{% filter escapejs %}{% trans 'lobby_message_error' context 'live_exam.host_lobby.js' %}{% endfilter %}",
    "playMessageError": "{% filter escapejs %}{% trans 'play_message_error' context 'live_exam.host_lobby.js' %}{% endfilter %}",
    "postError": "{% filter escapejs %}{% trans 'post_error' context 'live_exam.host_lobby.js' %}{% endfilter %}",
    "lobbyJoinAt": "{% filter escapejs %}{% trans 'lobby_join_at' context 'live_exam.host_game' %}{% endfilter %}",
    "lobbyPinLabel": "{% filter escapejs %}{% trans 'lobby_pin_label' context 'live_exam.host_game' %}{% endfilter %}",
    "lobbyScanQr": "{% filter escapejs %}{% trans 'lobby_scan_qr' context 'live_exam.host_game' %}{% endfilter %}",
    "lobbyWaiting": "{% filter escapejs %}{% trans 'lobby_waiting' context 'live_exam.host_game' %}{% endfilter %}",
    "lobbyReady": "{% filter escapejs %}{% trans 'lobby_ready' context 'live_exam.host_game' %}{% endfilter %}",
    "lobbyReadyHost": "{% filter escapejs %}{% trans 'lobby_ready_host' context 'live_exam.host_game' %}{% endfilter %}",
    "lobbyLocked": "{% filter escapejs %}{% trans 'lobby_locked' context 'live_exam.host_game' %}{% endfilter %}",
    "lobbyLockedHint": "{% filter escapejs %}{% trans 'lobby_locked_hint' context 'live_exam.host_game' %}{% endfilter %}",
    "lobbyPlayersWord": "{% filter escapejs %}{% trans 'lobby_players_word' context 'live_exam.host_game' %}{% endfilter %}",
    "lobbyParticipants": "{% filter escapejs %}{% trans 'lobby_participants' context 'live_exam.host_game' %}{% endfilter %}",
    "lobbyEmpty": "{% filter escapejs %}{% trans 'lobby_empty' context 'live_exam.host_game' %}{% endfilter %}",
    "lobbyMore": "{% filter escapejs %}{% trans 'lobby_more' context 'live_exam.host_game' %}{% endfilter %}",
    "lobbyRemove": "{% filter escapejs %}{% trans 'lobby_remove_player' context 'live_exam.host_game' %}{% endfilter %}",
    "getReady": "{% filter escapejs %}{% trans 'game_get_ready' context 'live_exam.host_game' %}{% endfilter %}",
    "getReadySub": "{% filter escapejs %}{% trans 'game_get_ready_sub' context 'live_exam.host_game' %}{% endfilter %}",
    "countdownNumberLabel": "{% filter escapejs %}{% trans 'game_countdown_label' context 'live_exam.host_game' %}{% endfilter %}",
    "questionOf": "{% filter escapejs %}{% trans 'game_question_of' context 'live_exam.host_game' %}{% endfilter %}",
    "multiBadge": "{% filter escapejs %}{% trans 'game_multi_badge' context 'live_exam.host_game' %}{% endfilter %}",
    "multiPick": "{% filter escapejs %}{% trans 'game_multi_pick' context 'live_exam.host_game' %}{% endfilter %}",
    "textBadge": "{% filter escapejs %}{% trans 'game_text_badge' context 'live_exam.host_game' %}{% endfilter %}",
    "textPrompt": "{% filter escapejs %}{% trans 'game_text_prompt' context 'live_exam.host_game' %}{% endfilter %}",
    "textPlaceholder": "{% filter escapejs %}{% trans 'game_text_placeholder' context 'live_exam.host_game' %}{% endfilter %}",
    "secondsShort": "{% filter escapejs %}{% trans 'game_seconds_short' context 'live_exam.host_game' %}{% endfilter %}",
    "answersLabel": "{% filter escapejs %}{% trans 'game_answers_label' context 'live_exam.host_game' %}{% endfilter %}",
    "receivedCounter": "{% filter escapejs %}{% trans 'received_counter' context 'live_exam.host_lobby.js' %}{% endfilter %}",
    "allAnswered": "{% filter escapejs %}{% trans 'game_all_answered' context 'live_exam.host_game' %}{% endfilter %}",
    "timeUp": "{% filter escapejs %}{% trans 'game_time_up' context 'live_exam.host_game' %}{% endfilter %}",
    "readTime": "{% filter escapejs %}{% trans 'game_read_time' context 'live_exam.host_game' %}{% endfilter %}",
    "correctAnswer": "{% filter escapejs %}{% trans 'game_correct_answer' context 'live_exam.host_game' %}{% endfilter %}",
    "correctAnswers": "{% filter escapejs %}{% trans 'game_correct_answers' context 'live_exam.host_game' %}{% endfilter %}",
    "correctSummary": "{% filter escapejs %}{% trans 'game_correct_summary' context 'live_exam.host_game' %}{% endfilter %}",
    "noAnswers": "{% filter escapejs %}{% trans 'game_no_answers' context 'live_exam.host_game' %}{% endfilter %}",
    "partialCredit": "{% filter escapejs %}{% trans 'game_partial_credit' context 'live_exam.host_game' %}{% endfilter %}",
    "strictCredit": "{% filter escapejs %}{% trans 'game_strict_credit' context 'live_exam.host_game' %}{% endfilter %}",
    "fastest": "{% filter escapejs %}{% trans 'game_fastest' context 'live_exam.host_game' %}{% endfilter %}",
    "acceptedAlso": "{% filter escapejs %}{% trans 'game_accepted_also' context 'live_exam.host_game' %}{% endfilter %}",
    "typedTop": "{% filter escapejs %}{% trans 'game_typed_top' context 'live_exam.host_game' %}{% endfilter %}",
    "leaderboard": "{% filter escapejs %}{% trans 'game_leaderboard' context 'live_exam.host_game' %}{% endfilter %}",
    "leaderboardLast": "{% filter escapejs %}{% trans 'game_leaderboard_last' context 'live_exam.host_game' %}{% endfilter %}",
    "finalSuspenseTitle": "{% filter escapejs %}{% trans 'game_final_suspense_title' context 'live_exam.host_game' %}{% endfilter %}",
    "finalSuspenseSub": "{% filter escapejs %}{% trans 'game_final_suspense_sub' context 'live_exam.host_game' %}{% endfilter %}",
    "finalSuspenseHint": "{% filter escapejs %}{% trans 'game_final_suspense_hint' context 'live_exam.host_game' %}{% endfilter %}",
    "refreshPlayers": "{% filter escapejs %}{% trans 'lobby_refresh' context 'live_exam.host_game' %}{% endfilter %}",
    "refreshPlayersHint": "{% filter escapejs %}{% trans 'lobby_refresh_hint' context 'live_exam.host_game' %}{% endfilter %}",
    "newEntry": "{% filter escapejs %}{% trans 'game_new_entry' context 'live_exam.host_game' %}{% endfilter %}",
    "streak": "{% filter escapejs %}{% trans 'game_streak' context 'live_exam.host_game' %}{% endfilter %}",
    "points": "{% filter escapejs %}{% trans 'game_points' context 'live_exam.host_game' %}{% endfilter %}",
    "correctTag": "{% filter escapejs %}{% trans 'game_correct' context 'live_exam.host_game' %}{% endfilter %}",
    "wrongTag": "{% filter escapejs %}{% trans 'game_wrong' context 'live_exam.host_game' %}{% endfilter %}",
    "shapeTriangle": "{% filter escapejs %}{% trans 'shape_triangle' context 'live_exam.host_game' %}{% endfilter %}",
    "shapeDiamond": "{% filter escapejs %}{% trans 'shape_diamond' context 'live_exam.host_game' %}{% endfilter %}",
    "shapeCircle": "{% filter escapejs %}{% trans 'shape_circle' context 'live_exam.host_game' %}{% endfilter %}",
    "shapeSquare": "{% filter escapejs %}{% trans 'shape_square' context 'live_exam.host_game' %}{% endfilter %}",
    "shapeStar": "{% filter escapejs %}{% trans 'shape_star' context 'live_exam.host_game' %}{% endfilter %}",
    "shapeHexagon": "{% filter escapejs %}{% trans 'shape_hexagon' context 'live_exam.host_game' %}{% endfilter %}",
    "close": "{% filter escapejs %}{% trans 'game_close' context 'live_exam.host_game' %}{% endfilter %}",
    "soundTitle": "{% filter escapejs %}{% trans 'sound_title' context 'live_exam.host_sound' %}{% endfilter %}",
    "soundOn": "{% filter escapejs %}{% trans 'sound_on' context 'live_exam.host_sound' %}{% endfilter %}",
    "soundOff": "{% filter escapejs %}{% trans 'sound_off' context 'live_exam.host_sound' %}{% endfilter %}",
    "soundVolume": "{% filter escapejs %}{% trans 'sound_volume' context 'live_exam.host_sound' %}{% endfilter %}",
    "soundMusic": "{% filter escapejs %}{% trans 'sound_music' context 'live_exam.host_sound' %}{% endfilter %}",
    "soundEnable": "{% filter escapejs %}{% trans 'sound_enable' context 'live_exam.host_sound' %}{% endfilter %}",
    "stageTitle": "{% filter escapejs %}{% trans 'stage_title' context 'live_exam.host_stage' %}{% endfilter %}",
    "stageSubtitle": "{% filter escapejs %}{% trans 'stage_subtitle' context 'live_exam.host_stage' %}{% endfilter %}",
    "stagePlace1": "{% filter escapejs %}{% trans 'stage_place_1' context 'live_exam.host_stage' %}{% endfilter %}",
    "stagePlace2": "{% filter escapejs %}{% trans 'stage_place_2' context 'live_exam.host_stage' %}{% endfilter %}",
    "stagePlace3": "{% filter escapejs %}{% trans 'stage_place_3' context 'live_exam.host_stage' %}{% endfilter %}",
    "stageTie": "{% filter escapejs %}{% trans 'stage_tie' context 'live_exam.host_stage' %}{% endfilter %}",
    "stageReplay": "{% filter escapejs %}{% trans 'stage_replay' context 'live_exam.host_stage' %}{% endfilter %}",
    "stageNoPlayers": "{% filter escapejs %}{% trans 'stage_no_players' context 'live_exam.host_stage' %}{% endfilter %}",
    "stageMore": "{% filter escapejs %}{% trans 'stage_more' context 'live_exam.host_stage' %}{% endfilter %}",
    "stageAudience": "{% filter escapejs %}{% trans 'stage_audience' context 'live_exam.host_stage' %}{% endfilter %}",
    "stageStatsPlayers": "{% filter escapejs %}{% trans 'stage_stats_players' context 'live_exam.host_stage' %}{% endfilter %}",
    "stageStatsQuestions": "{% filter escapejs %}{% trans 'stage_stats_questions' context 'live_exam.host_stage' %}{% endfilter %}",
    "stageStatsAccuracy": "{% filter escapejs %}{% trans 'stage_stats_accuracy' context 'live_exam.host_stage' %}{% endfilter %}",
    "stageStatsSpeed": "{% filter escapejs %}{% trans 'stage_stats_speed' context 'live_exam.host_stage' %}{% endfilter %}",
    "stageCorrect": "{% filter escapejs %}{% trans 'stage_correct_count' context 'live_exam.host_stage' %}{% endfilter %}",
    "answerModeTitle": "{% filter escapejs %}{% trans 'answer_mode_title' context 'live_exam.host_settings' %}{% endfilter %}",
    "multiScoringLabel": "{% filter escapejs %}{% trans 'multi_scoring_label' context 'live_exam.host_settings' %}{% endfilter %}",
    "multiPartial": "{% filter escapejs %}{% trans 'multi_partial' context 'live_exam.host_settings' %}{% endfilter %}",
    "multiPartialHelp": "{% filter escapejs %}{% trans 'multi_partial_help' context 'live_exam.host_settings' %}{% endfilter %}",
    "multiStrict": "{% filter escapejs %}{% trans 'multi_strict' context 'live_exam.host_settings' %}{% endfilter %}",
    "multiStrictHelp": "{% filter escapejs %}{% trans 'multi_strict_help' context 'live_exam.host_settings' %}{% endfilter %}",
    "typoLabel": "{% filter escapejs %}{% trans 'typo_tolerance_label' context 'live_exam.host_settings' %}{% endfilter %}",
    "typoHelp": "{% filter escapejs %}{% trans 'typo_tolerance_help' context 'live_exam.host_settings' %}{% endfilter %}",
    "typedListTitle": "{% filter escapejs %}{% trans 'typed_list_title' context 'live_exam.host_settings' %}{% endfilter %}",
    "typedListHelp": "{% filter escapejs %}{% trans 'typed_list_help' context 'live_exam.host_settings' %}{% endfilter %}",
    "typedToggle": "{% filter escapejs %}{% trans 'typed_toggle' context 'live_exam.host_settings' %}{% endfilter %}",
    "typedAccepted": "{% filter escapejs %}{% trans 'typed_accepted' context 'live_exam.host_settings' %}{% endfilter %}",
    "typedAdd": "{% filter escapejs %}{% trans 'typed_add_placeholder' context 'live_exam.host_settings' %}{% endfilter %}",
    "typedNotEligible": "{% filter escapejs %}{% trans 'typed_not_eligible' context 'live_exam.host_settings' %}{% endfilter %}",
    "typedLimit": "{% filter escapejs %}{% trans 'typed_limit' context 'live_exam.host_settings' %}{% endfilter %}",
    "typedLocked": "{% filter escapejs %}{% trans 'typed_locked' context 'live_exam.host_settings' %}{% endfilter %}",
    "typedEmpty": "{% filter escapejs %}{% trans 'typed_empty' context 'live_exam.host_settings' %}{% endfilter %}",
    "chipRemove": "{% filter escapejs %}{% trans 'chip_remove' context 'live_exam.host_settings' %}{% endfilter %}",
    "savedLabel": "{% filter escapejs %}{% trans 'saved_label' context 'live_exam.host_settings' %}{% endfilter %}",
    "saveError": "{% filter escapejs %}{% trans 'save_error' context 'live_exam.host_settings' %}{% endfilter %}",
    "lobbyOpenLabel": "{% filter escapejs %}{% trans 'lobby_open' context 'live_exam.host_lobby' %}{% endfilter %}",
    "lobbyLockedLabel": "{% filter escapejs %}{% trans 'lobby_locked_label' context 'live_exam.host_game' %}{% endfilter %}",
    "skipLabel": "{% filter escapejs %}{% trans 'game_skip' context 'live_exam.host_game' %}{% endfilter %}",
    "nextLabel": "{% filter escapejs %}{% trans 'next_button' context 'live_exam.host_lobby' %}{% endfilter %}",
    "revealLabel": "{% filter escapejs %}{% trans 'reveal_button' context 'live_exam.host_lobby' %}{% endfilter %}",
    "stageResults": "{% filter escapejs %}{% trans 'stage_results' context 'live_exam.host_stage' %}{% endfilter %}",
    "timeLabel": "{% filter escapejs %}{% trans 'Hər sual üçün vaxt' context 'live_exam.host_controls' %}{% endfilter %}",
    "timeStandard": "{% filter escapejs %}{% trans 'Standart · {seconds} san' context 'live_exam.host_controls' %}{% endfilter %}",
    "timeSecondsValue": "{% filter escapejs %}{% trans '{seconds} san' context 'live_exam.host_controls' %}{% endfilter %}",
    "timeCustom": "{% filter escapejs %}{% trans 'Digər ({min}–{max} san)' context 'live_exam.host_controls' %}{% endfilter %}",
    "timeApply": "{% filter escapejs %}{% trans 'Tətbiq et' context 'live_exam.host_controls' %}{% endfilter %}",
    "timeNoteNext": "{% filter escapejs %}{% trans 'Dəyişiklik növbəti sualdan tətbiq olunur.' context 'live_exam.host_controls' %}{% endfilter %}",
    "timeNoteAll": "{% filter escapejs %}{% trans 'Hər sual bu qədər vaxt gedəcək.' context 'live_exam.host_controls' %}{% endfilter %}",
    "timeNoteStandard": "{% filter escapejs %}{% trans 'Standart: sualın öz vaxtı, yoxdursa imtahanın vaxtı.' context 'live_exam.host_controls' %}{% endfilter %}",
    "timeInvalid": "{% filter escapejs %}{% trans '{min}–{max} saniyə arası rəqəm yazın' context 'live_exam.host_controls' %}{% endfilter %}",
    "timeSaveError": "{% filter escapejs %}{% trans 'Vaxt saxlanmadı. Yenidən cəhd edin.' context 'live_exam.host_controls' %}{% endfilter %}",
    "timeSaved": "{% filter escapejs %}{% trans 'Hər sual üçün vaxt: {value}' context 'live_exam.host_controls' %}{% endfilter %}",
    "lateJoinPinHint": "{% filter escapejs %}{% trans 'Gecikənlər bu PIN ilə qoşula bilər' context 'live_exam.host_controls' %}{% endfilter %}",
    "playersLateTag": "{% filter escapejs %}{% trans 'Növbəti sualdan' context 'live_exam.host_controls' %}{% endfilter %}",
    "playersRemove": "{% filter escapejs %}{% trans 'Çıxar' context 'live_exam.host_controls' %}{% endfilter %}",
    "playersNoMatch": "{% filter escapejs %}{% trans 'Uyğun iştirakçı yoxdur' context 'live_exam.host_controls' %}{% endfilter %}",
    "playersEmpty": "{% filter escapejs %}{% trans 'Hələ heç kim qoşulmayıb' context 'live_exam.host_controls' %}{% endfilter %}",
    "removeConfirmTitle": "{% filter escapejs %}{% trans '«{name}» oyundan çıxarılsın?' context 'live_exam.host_controls' %}{% endfilter %}",
    "removeConfirmBodyGame": "{% filter escapejs %}{% trans 'Telefonu oyundan çıxacaq, bu cihazla geri qayıda bilməyəcək. Balı liderlər lövhəsində göstərilməyəcək.' context 'live_exam.host_controls' %}{% endfilter %}",
    "removeConfirmBodyLobby": "{% filter escapejs %}{% trans 'Telefonu lobbidən çıxacaq və bu cihazla geri qayıda bilməyəcək.' context 'live_exam.host_controls' %}{% endfilter %}",
    "removeDone": "{% filter escapejs %}{% trans '«{name}» oyundan çıxarıldı' context 'live_exam.host_controls' %}{% endfilter %}",
    "removeFailed": "{% filter escapejs %}{% trans 'Çıxarmaq alınmadı. Yenidən cəhd edin.' context 'live_exam.host_controls' %}{% endfilter %}",
    "introTitle": "{{ session.exam.title|default:'Quiz'|escapejs }}"
}</script>
