{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans "user_management_title" context "superadmin.users" %} - EMSArena{% endblock %}

{% block extraCss %}
<link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
<link rel="stylesheet" href="{% static 'accounts/css/superadmin_user_management.css' %}">
{% endblock %}

{% block content %}
<div class="user-management-standalone">
    <div class="user-management-standalone-header">
        <a href="{% url 'accounts:profile' %}?section=superadmin-organizations" class="back-link">
            <i class="fas fa-arrow-left"></i> {% trans "back_to_profile" context "superadmin.users" %}
        </a>
    </div>

    {% include "accounts/profile/_messages.html" %}
    {% include "accounts/partials/_superadmin_user_management_content.html" with embedded_in_profile=False %}
</div>
{% endblock %}

{% block extraJs %}
<script src="{% static 'accounts/js/superadmin_user_management.js' %}"></script>
{% endblock %}
