{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans "title" context "superadmin.ai_settings" %} | EMSArena{% endblock %}

{% block extraCss %}
<link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
<link rel="stylesheet" href="{% static 'accounts/css/superadmin_ai_settings.css' %}">
{% endblock %}

{% block content %}
<div class="ai-settings-container">
    <a href="{% url 'accounts:profile' %}" class="back-link">
        <i class="fas fa-arrow-left"></i> {% trans "back_to_profile" context "superadmin.ai_settings" %}
    </a>
    {% include "accounts/partials/_superadmin_ai_settings_content.html" %}
</div>
{% endblock %}
