{% load static %}
<header class="blog-header">
    <div class="blog-header__container">
        <nav class="blog-header__nav">
            <a href="/blog/" class="blog-header__logo">MyBlog.az</a>

            <ul class="blog-header__nav-list blog-header__nav-list--desktop">
                <li class="blog-header__nav-item">
                    <a href="/blog/"
                       class="blog-header__nav-link {% if request.path == '/blog/' %}blog-header__nav-link--active{% endif %}">
                        Ana Səhifə
                    </a>
                </li>
                <li class="blog-header__nav-item">
                    <a href="/blog/technology/"
                       class="blog-header__nav-link {% if request.path == '/blog/technology/' %}blog-header__nav-link--active{% endif %}">
                        Texnologiya
                    </a>
                </li>
                <li class="blog-header__nav-item">
                    <a href="/blog/about/"
                       class="blog-header__nav-link {% if request.path == '/blog/about/' %}blog-header__nav-link--active{% endif %}">
                        Haqqımızda
                    </a>
                </li>
                <li class="blog-header__nav-item">
                    <a href="{% url 'subscribe' %}"
                       class="blog-header__nav-link blog-header__nav-link--primary {% if request.path == '/blog/subscribe/' %}blog-header__nav-link--active{% endif %}">
                        Abunə Ol
                    </a>
                </li>
            </ul>

            <button class="blog-header__toggle" type="button" aria-label="Menyunu aç/bağla">
                <span class="blog-header__toggle-line"></span>
                <span class="blog-header__toggle-line"></span>
                <span class="blog-header__toggle-line"></span>
            </button>
        </nav>
    </div>
</header>

{# Mobil menyu #}
<div class="mobile-nav-overlay"></div>
<ul class="blog-header__nav-list mobile-nav-panel">
    <li class="blog-header__nav-item">
        <a href="/blog/"
           class="blog-header__nav-link {% if request.path == '/blog/' %}blog-header__nav-link--active{% endif %}">
            Ana Səhifə
        </a>
    </li>
    <li class="blog-header__nav-item">
        <a href="/blog/technology/"
           class="blog-header__nav-link {% if request.path == '/blog/technology/' %}blog-header__nav-link--active{% endif %}">
            Texnologiya
        </a>
    </li>
    <li class="blog-header__nav-item">
        <a href="/blog/about/"
           class="blog-header__nav-link {% if request.path == '/blog/about/' %}blog-header__nav-link--active{% endif %}">
            Haqqımızda
        </a>
    </li>
    <li class="blog-header__nav-item">
        <a href="{% url 'subscribe' %}"
           class="blog-header__nav-link blog-header__nav-link--primary {% if request.path == '/blog/subscribe/' %}blog-header__nav-link--active{% endif %}">
            Abunə Ol
        </a>
    </li>
</ul>
