{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans "Elektron jurnal" context "registrar.journal" %} - {{ site_brand_name }}{% endblock %}

{% block extraCss %}
    <link rel="stylesheet" href="{% static 'registrar/css/journal.css' %}?v=20260712-3">
    <link rel="stylesheet" href="{% static 'registrar/css/jd2.css' %}?v=20260719-corrlink">
{% endblock %}

{% block content %}
{% include "accounts/profile/_messages.html" %}
{% include "registrar/partials/_journal_list_content.html" %}
{% endblock %}

{% block extraJs %}
    <script src="{% static 'registrar/js/journal_grid.js' %}?v=20260715-jbatch2"></script>
{% endblock %}
