{% load static %}
<script id="student-exam-list-i18n" type="application/json">
{
    "modalAccessCodeTitle": "{{ modal_access_code_title|escapejs }}",
    "modalAccessCodeDescription": "{{ modal_access_code_description|escapejs }}",
    "modalAccessCodeDescriptionWithTitle": "{{ modal_access_code_description_with_title|escapejs }}",
    "modalNoteEmpty": "{{ modal_note_empty|escapejs }}",
    "modalActionStart": "{{ modal_action_start|escapejs }}",
    "modalActionConfirmCode": "{{ modal_action_confirm_code|escapejs }}",
    "modalAccessCodeRequiredError": "{{ modal_access_code_required_error|escapejs }}",
    "modalAccessCodeGenericError": "{{ modal_access_code_generic_error|escapejs }}",
    "livePinRequiredError": "{{ live_card_pin_required_error|escapejs }}",
    "livePinMismatchError": "{{ live_card_pin_mismatch_error|escapejs }}"
}
</script>
<script src="{% static 'exams/js/student_exam_list_modal.js' %}"></script>
