{% load i18n static %}
<div id="roleAssignmentI18n" class="d-none"
     data-confirm="{% trans 'Təsdiqlə' %}"
     data-no-membership="{% trans 'Üzvlük yoxdur' %}"
     data-attach-lead="{% trans 'İstifadəçini təşkilata əlavə etməyi təsdiqləyin.' %}"
     data-update-lead="{% trans 'İstifadəçinin rolunu yeniləməyi təsdiqləyin.' %}"
     data-generic-error="{% trans 'Xəta baş verdi. Yenidən cəhd edin.' %}"
     data-prepare-error="{% trans 'Əməliyyat təsdiqi hazırlanmadı.' %}"
     data-complete-error="{% trans 'Əməliyyat tamamlanmadı.' %}"
     data-adding="{% trans 'Əlavə olunur...' %}"
     data-updating="{% trans 'Yenilənir...' %}"
     data-success="{% trans 'Əməliyyat uğurla tamamlandı.' %}"></div>
<script defer src="{% static 'accounts/js/role_assignment_scripts.js' %}"></script>
