{% load static i18n %}
{% comment %}
  Exam-statistics charts: server data + i18n bridged via JSON islands, logic in
  exams/js/teacher_exam_statistics_charts.js (CSP-safe, no inline script/style).
{% endcomment %}
<link rel="stylesheet" href="{% static 'exams/css/teacher_exam_statistics_charts.css' %}">
<script src="{% static 'vendor/chartjs/chart.umd.min.js' %}"></script>
{{ chart_data|json_script:"statsChartData" }}
<script id="statsExtra" type="application/json">
{
    "isWritten": {% if is_written %}true{% else %}false{% endif %},
    "checkedCount": {{ checked_count|default:0 }},
    "uncheckedCount": {{ unchecked_count|default:0 }},
    "passCount": {{ pass_count|default:0 }},
    "failCount": {{ fail_count|default:0 }}
}
</script>
<script id="statsChartsI18n" type="application/json">
{
    "chartModuleError": "{% filter escapejs %}{% trans 'chart_module_error' context 'exams.template.exam_statistics' %}{% endfilter %}",
    "chartLabelScore": "{% filter escapejs %}{% trans 'chart_label_score' context 'exams.template.exam_statistics' %}{% endfilter %}",
    "chartEmptyStudents": "{% filter escapejs %}{% trans 'chart_empty_students' context 'exams.template.exam_statistics' %}{% endfilter %}",
    "chartLabelAccuracy": "{% filter escapejs %}{% trans 'chart_label_accuracy' context 'exams.template.exam_statistics' %}{% endfilter %}",
    "chartEmptyQuestions": "{% filter escapejs %}{% trans 'chart_empty_questions' context 'exams.template.exam_statistics' %}{% endfilter %}",
    "chartLabelChecked": "{% filter escapejs %}{% trans 'chart_label_checked' context 'exams.template.exam_statistics' %}{% endfilter %}",
    "chartLabelUnchecked": "{% filter escapejs %}{% trans 'chart_label_unchecked' context 'exams.template.exam_statistics' %}{% endfilter %}",
    "chartEmptyChecked": "{% filter escapejs %}{% trans 'chart_empty_checked' context 'exams.template.exam_statistics' %}{% endfilter %}",
    "chartLabelCorrect": "{% filter escapejs %}{% trans 'chart_label_correct' context 'exams.template.exam_statistics' %}{% endfilter %}",
    "chartLabelIncorrect": "{% filter escapejs %}{% trans 'chart_label_incorrect' context 'exams.template.exam_statistics' %}{% endfilter %}",
    "chartEmptyCorrectIncorrect": "{% filter escapejs %}{% trans 'chart_empty_correct_incorrect' context 'exams.template.exam_statistics' %}{% endfilter %}",
    "chartLabelPass": "{% filter escapejs %}{% trans 'chart_label_pass' context 'exams.template.exam_statistics' %}{% endfilter %}",
    "chartLabelFail": "{% filter escapejs %}{% trans 'chart_label_fail' context 'exams.template.exam_statistics' %}{% endfilter %}",
    "chartEmptyPassFail": "{% filter escapejs %}{% trans 'chart_empty_pass_fail' context 'exams.template.exam_statistics' %}{% endfilter %}",
    "chartLabelParticipants": "{% filter escapejs %}{% trans 'chart_label_participants' context 'exams.template.exam_statistics' %}{% endfilter %}",
    "chartEmptyDistribution": "{% filter escapejs %}{% trans 'chart_empty_distribution' context 'exams.template.exam_statistics' %}{% endfilter %}",
    "chartLabelAvgScore": "{% filter escapejs %}{% trans 'chart_label_avg_score' context 'exams.template.exam_statistics' %}{% endfilter %}",
    "chartLabelPassRate": "{% filter escapejs %}{% trans 'chart_label_pass_rate' context 'exams.template.exam_statistics' %}{% endfilter %}",
    "paginationResults": "{% filter escapejs %}{% trans 'pagination_results' context 'exams.template.exam_statistics' %}{% endfilter %}",
    "aiQuotaInfo": "{% filter escapejs %}{% trans 'ai_quota_info' context 'exams.template.exam_statistics' %}{% endfilter %}",
    "aiCached": "{% filter escapejs %}{% trans 'ai_cached' context 'exams.template.exam_statistics' %}{% endfilter %}",
    "aiError": "{% filter escapejs %}{% trans 'ai_error' context 'exams.template.exam_statistics' %}{% endfilter %}"
}
</script>
<script src="{% static 'exams/js/teacher_exam_statistics_charts.js' %}"></script>
